APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_NAME="Laravel SaaS Template"

SELF_HOSTED=true
REQUIRE_SUBSCRIPTION=false

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PRICE_ID=
STRIPE_PRO_YEARLY_PRICE_ID=
STRIPE_ENTERPRISE_MONTHLY_PRICE_ID=
STRIPE_ENTERPRISE_YEARLY_PRICE_ID=
STRIPE_DYNAMIC_PRICE_ID=

MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
